* {
    padding: 0;
    margin: 0;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: circle;
    box-sizing: border-box;
}

body {
    background-color:#313131;
}

.header {
    max-width: 1152px;
    margin: 20px auto 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#FFFFFF;
}

.menu-business-card{
    font-size: 8px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 0;
}

.menu ul{
    
}

.menu ul li{
    list-style: none;
}

.main-content{
    min-height: 100vh;
    max-width: 1152px;
    margin: 20px auto 0px auto;
    display: flex;
    flex-direction: row;
}

.left-section{
    background-color:#777499;
}

.right-section{
    background-color: #c3c0e2;
}

.left-content{
    padding: 10px;
}

.business-card{
    width: 100%;
}

.photo {
    max-width: 300px;
}

.business-card img{
    width: 100%;
    border-radius: 50%;
    border: 4px solid #c3c0e2;
}

.myname {
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 0;
}

.career {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 0;
}

.titles {
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
    text-transform: uppercase;
    padding: 15px;
}

.contact-info ul {
    padding: 10px;
}

.contact-info ul li {
    align-items: center;
    padding: 10px;
    display: flex;
}

.contact-info ul li i{
    font-size: 16px;
    color: #FFFFFF;
    text-align: left;
    padding-right: 10px;
}

.skill-section ul{
    padding: 10px;
}
.skill-section ul li{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}

.progress-bar{
    width: 100%;
    height: 10px;
    background-color: #dfdfdf;
    position: relative;
    border-radius: 10px;
}
.progress{
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #413f5a;
    border-radius: 10px;
}
.js-progress{
    width: 70%;
}
.ps-progress{
    width: 100%;
}
.figma-progress{
    width: 80%;
}
.html-progress{
    width: 90%;
}
.git-progress{
    width: 80%;
}


.skill-title{
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 16px;
}

.right-content{
    padding: 20px;
}

.about-myself-title {
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.about-myself{
    padding: 20px;
}

.text{
    line-height: 24px;
}

.job-description-wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.job-name p {
    width: 190px;
    line-height: 16px;
}

.job-name p {
    font-size: 14px;
    line-height: 16px;
}

.experience{
    padding: 20px;
}

.subtitles{
    font-size: 16px;
    color: #0c0227;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.job-description{
    font-size: 16px;
    padding-left: 40px;;
    line-height: 24px;

}

.education{
    padding: 20px;
}

.languages{
    padding: 20px;
}

.code-example{
    padding: 20px;
}

.projects {
    padding: 20px;
}

.project-description {
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer{
    max-width: 1152px;
    margin: auto;
    background-color: #FFFFFF;
}